id ICON "cube.ico"
1 VERSIONINFO
FILEVERSION     4,2,1,2
PRODUCTVERSION  4,2,1,2
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Camicri Systems"
      VALUE "FileDescription", "Portable Package Manager for Linux"
      VALUE "FileVersion", "4.2-1.2"
      VALUE "InternalName", "Camicri Cube Server"
      VALUE "LegalCopyright", "Jake R. Capangpangan <camicrisystems@gmail.com>"
      VALUE "OriginalFilename", "cube.exe"
      VALUE "ProductName", "Camicri Cube Server"
      VALUE "ProductVersion", "4.2-1.2"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END