Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
stamp-h1
src/*.c
src/*.o
src/*.in
src/*.stamp
src/.deps
src/.libs
src/cube_server
.anjuta
.anjuta_sym_db.db
*stamp
cube-system/data/config
cube-system/data/logs
cube-system/data/packages
cube-system/data/resources
cube-system/data/temp
cube-system/data/bin/aria2c
cube-system/data/bin/axel
cube-system/data/bin/shellinaboxd
projects/*
src/output
*~
