[Desktop Entry]
Name=Camicri Cube (Server)
GenericName=cube-server
Comment=Portable Package Manager for Linux
Categories=System;
Exec=cube-server
Icon=cube-server
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=test
X-GNOME-Keywords=Hello;World;Example;